<!DOCTYPE html>
<html>
<head>
    <title>Weather Assistant</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta http-equiv="refresh" content="300">
    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

<div class="container">

    <h1>🌦️ Weather Assistant</h1>
    <button id="darkModeToggle">Toggle Dark Mode</button>
    <form method="POST" id="search-form">

        <input
            type="text"
            name="city"
            placeholder="Enter city"
            required
            value="{{ city }}"
        >
        <h2>Search History</h2>
<ul>
  {% for item in history %}
    <li><a href="#" onclick="searchFromHistory('{{ item }}')">{{ item }}</a></li>
  {% endfor %}
</ul>

        <select name="mode">

            <option value="now">Current</option>
            <option value="hourly">By Hours</option>
            <option value="tomorrow">Tomorrow</option>
            <option value="week">7 Days</option>

        </select>

        <button type="submit">
            Get Weather
        </button>

    </form>


    {% if result %}

        <div class="result">

            {% for line in result %}
{{ line }}<br>
            {% endfor %}

        </div>

    {% endif %}


    {% if graph_data %}

        <div class="graph" id="graph"></div>
        <script>
function searchFromHistory(city) {
    document.getElementById('city-input').value = city;
    document.getElementById('search-form').submit();
}
</script>
        <script>

            var data = [
                {
                    x: {{ graph_data.dates | safe }},
                    y: {{ graph_data.max | safe }},
                    type: "scatter",
                    name: "Max Temp"
                },
                {
                    x: {{ graph_data.dates | safe }},
                    y: {{ graph_data.min | safe }},
                    type: "scatter",
                    name: "Min Temp"
                }
            ];

            Plotly.newPlot("graph", data);
            
        </script>
        <script>
  const toggleButton = document.getElementById('darkModeToggle');

  toggleButton.addEventListener('click', () => {
    document.body.classList.toggle('dark-mode');
  });
</script>
    {% endif %}


</div>

</body>
</html>